.style-script-regular {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}


index.html {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

header {
  background-image: linear-gradient(pink, mediumorchid);
  border: 5px solid;
  border-color: pink;
  font-family: cursive;
  font-size: 35px;
  width: 100%;
  height: 75px;
  text-indent: 0.4in
  text-shadow: 1px 1px 3px hotpink;
}
article-preview {
  background-image: linear-gradient(lavenderblush, pink);
  border: 5px solid;
  border-color: pink;
  font-family: Verdana;
  width: 250px;
  height: 350px;
  text-align: center;
  margin-left: 0.5in;
  float: left;
}
article-preview2 {
  background-image: linear-gradient(lavenderblush, pink);
  border: 5px solid;
  border-color: pink;
  font-family: Verdana;
  width: 250px;
  height: 350px;
  text-align: center;
  margin-left: 0.5in;
  float: left;
  position: absolute;
  bottom: 214px; left: 275px;
}

spacer {
  height: 0.25in
}
